@use '../mixins/responsive.scss' as*;

.text{
    font-family: var(--secondary-font);
    line-height: 2rem;
    color: var(--text-article-color);
    &--dark{
        color: var(--title-text-color);
    }
    &--grayer{
        color: var(--grayish-blue);
        line-height: 0;

    }
}
