:root{
    --primary-font:'Fraunces', serif;
    --secondary-font:'Alata', sans-serif;
    --title-xl:3rem;
    --title-l:2.3rem;
    --title-m:2rem;
    --title-s:1.7rem;
    --title-xs:1rem;

    --text-m:1rem;
    --text-s:0.5rem;
}