:root {
    --soft-red: hsl(7 99% 70% / 0.5);
    --soft-yellow: hsl(51 100% 49% / 0.5);
    --yellow:hsl(51, 100%, 49%);
    --green: hsl(167, 40%, 24%);
    --dark-blue: hsl(198, 62%, 26%);
    --soft-green: hsl(168, 34%, 41%);
  
    --title-text-color: hsl(212, 27%, 19%);
    --text-article-color: hsl(213, 9%, 39%);
    /* --dark-grayish-blue-2: hsl(232, 10%, 55%); */
    --grayish-blue: hsl(210, 4%, 67%);
    --white: hsl(0, 0%, 100%);
}

    $soft-red: hsl(7 99% 70% / 0.5);
    $soft-yellow: hsl(51 100% 49% / 0.5);
    $green: hsl(167, 40%, 24%);
    $dark-blue: hsl(198, 62%, 26%);
    $soft-green: hsl(168, 34%, 41%);
  
    $title-text-color: hsl(212, 27%, 19%);
    $text-article-color: hsl(213, 9%, 39%);
    /* $dark-grayish-blue-2: hsl(232, 10%, 55%); */
    $grayish-blue: hsl(210, 4%, 67%);
    $white: hsl(0, 0%, 100%);


